# WIRELESS SENSOR NETWORK - DATA ANALYZER - STEP 2
#### Notebook not intended for final product

In [3]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sp
import IPython.display
import glob
from datetime import datetime
from statistics import mean
from matplotlib.dates import DateFormatter

#NP = DF.to_numpy()
#DF = pd.DataFrame(NP)

In [5]:
# Set Working Directory
user      = 'adria'
subfolder = 'V 1.2.4 3 Node Test'
os.chdir('C:\\Users\\'+str(user)+'\\Desktop\\Repository\\WirelessSensorNetwork\\Data\\'
         + str(subfolder))
os.getcwd()
#data = pd.read_csv(file)
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [21]:
filenames = []
for file in all_filenames:
    if file[0] == 'P':
        filenames.append(file)

In [27]:
df = pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [31]:
for file in filenames:
    data = pd.read_csv(file)
    df = df.append(data)
    print(data.tail())
    print('')

DateTime     001
116  2020-03-04 00:58:00  413.07
117  2020-03-04 00:58:30  412.13
118  2020-03-04 00:59:00  413.80
119  2020-03-04 00:59:30  413.80
120  2020-03-04 01:00:00  414.00

                DateTime     002
116  2020-03-04 00:58:00  407.17
117  2020-03-04 00:58:30  406.17
118  2020-03-04 00:59:00  406.97
119  2020-03-04 00:59:30  406.73
120  2020-03-04 01:00:00  408.00

                DateTime     003
116  2020-03-04 00:58:00  405.70
117  2020-03-04 00:58:30  405.73
118  2020-03-04 00:59:00  408.83
119  2020-03-04 00:59:30  407.83
120  2020-03-04 01:00:00  408.00

In [32]:
df

                DateTime     001  002     003
0    2020-03-04 00:00:00  424.86  NaN     NaN
1    2020-03-04 00:00:30  423.70  NaN     NaN
2    2020-03-04 00:01:00  423.03  NaN     NaN
3    2020-03-04 00:01:30  425.90  NaN     NaN
4    2020-03-04 00:02:00  424.47  NaN     NaN
..                   ...     ...  ...     ...
116  2020-03-04 00:58:00     NaN  NaN  405.70
117  2020-03-04 00:58:30     NaN  NaN  405.73
118  2020-03-04 00:59:00     NaN  NaN  408.83
119  2020-03-04 00:59:30     NaN  NaN  407.83
120  2020-03-04 01:00:00     NaN  NaN  408.00

[363 rows x 4 columns]