# Notebook Test File
#### Not Intended for final product

## LIBRARIES

In [40]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime
from statistics import mean
import IPython.display

## DATA SELCTION
Incoming data has two columns: UNIXTIME and GASDATA

In [48]:
# Set Working Directory
user = 'adria'
subfolder = '1.1.0'
file = '2020-03-03--00.csv'
os.chdir('C:\\Users\\'+str(user)+'\\Desktop\\Repository\\WirelessSensorNetwork\\Data\\'
         + str(subfolder))
os.getcwd()
data = pd.read_csv(file)
data

        UNIXTIME    CO2
0     1583193601  396.0
1     1583193602  396.0
2     1583193603  396.0
3     1583193604  396.0
4     1583193605  397.0
...          ...    ...
3595  1583197196  394.0
3596  1583197197  394.0
3597  1583197198  394.0
3598  1583197199  394.0
3599  1583197200  394.0

[3600 rows x 2 columns]

In [105]:
def importData(data):
    UnixTime = np.array(data['UNIXTIME'],  dtype = float)
    GasData  = np.array(data['CO2'],   dtype = float)
    RealData = np.ones((len(UnixTime), 1), dtype = int)
    Index    = np.arange(0, len(UnixTime))

    rawAllDataDF = pd.DataFrame(np.column_stack((UnixTime, GasData, RealData, Index)))
    rawAllDataDF['DateTime']    = pd.to_datetime(rawAllDataDF.iloc[:,0], unit = 's')
    rawAllDataDF.columns = ['UnixTime', 'GasData', 'RealData', 'Index', 'DateTime']

    rawAllDataDF = rawAllDataDF.drop_duplicates(subset='UnixTime', keep='first')
    rawAllDataDF.RealData = rawAllDataDF.RealData.astype(int)

    rawAllDataNP = rawAllDataDF.to_numpy()

    return rawAllDataDF, rawAllDataNP
rawAllDataDF, rawAllDataNP = importData(data)

In [108]:
print(type(rawAllDataNP[0,2]))
print(rawAllDataNP[0,2])

<class 'int'>
1

In [107]:
rawAllDataDF

          UnixTime  GasData  RealData   Index            DateTime
0     1.583194e+09    396.0         1     0.0 2020-03-03 00:00:01
1     1.583194e+09    396.0         1     1.0 2020-03-03 00:00:02
2     1.583194e+09    396.0         1     2.0 2020-03-03 00:00:03
3     1.583194e+09    396.0         1     3.0 2020-03-03 00:00:04
4     1.583194e+09    397.0         1     4.0 2020-03-03 00:00:05
...            ...      ...       ...     ...                 ...
3595  1.583197e+09    394.0         1  3595.0 2020-03-03 00:59:56
3596  1.583197e+09    394.0         1  3596.0 2020-03-03 00:59:57
3597  1.583197e+09    394.0         1  3597.0 2020-03-03 00:59:58
3598  1.583197e+09    394.0         1  3598.0 2020-03-03 00:59:59
3599  1.583197e+09    394.0         1  3599.0 2020-03-03 01:00:00

[3600 rows x 5 columns]

## FUNCTIONS

### Import Data
Prime the data for filtering by turning UNIXTIME and GASDATA columns to floats and by adding DATETIME, REALDATA, and INDEX columns